/*
File name: app.css
Author's name: Anuben Keshavala
Web site name:  Home Page
File description: This file is used for css customization
*/
/* custom CSS goes here */

.jumbotron  {
    background-color:gray;
  }
.navbar {
    background-color:gray;
}
h1 {
  font-size: 40px;
}

h2 {
  font-size: 23px;
}

p {
  font-size: 15.5px;
}